*{
    margin:0;
    padding: 0;
}
.container{
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 1100px;
    height: 62px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    gap: 500px;
}
.header-menu{
    display: flex;
    gap: 48px;
}
.header-menu-item{
    text-decoration:none;
    font-size: 16px;
    color: #242E42;
}
.menu{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.content-first{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color:red;
    height: 350px;
    gap: 3px;
}
.content-firts-text{
    width:450px;
    display: flex;
    flex-direction: column;
}
.contet-first-card{
    width: 398px;
    height: 350px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.gender-card{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.gernder{
    width: 308px;
}
.gender-sex{
    width:145.5px;
    height: 52px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 12px;
    align-items: center;
}
.icon{
    width:40px;
}
.card-input-age{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-input-age input{

    width:300px;
    height: 48px;
    border: 1px solid #E6EBF0;
    border-radius: 12px;
    background: #FFFFFF;
}
.card-input-height{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    
}
.flex{
    display: flex;
}
.card-height-text{
    display: flex;
    gap: 120px;
}
.card-input-height input{
    width:300px;
    height: 48px;
    border: 1px solid #E6EBF0;
    border-radius: 12px;
    background: #FFFFFF;
}
.card-btn{
    width: 300px;
    height: 48px;
    background: #F25D40;
    color: white;
    border-radius: 12px;
    border:none;
}
.font{
    font-weight: 600;
    font-size: 16px;
     line-height: 20px;
}
.on{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 6.93px;
    width: 35px;
    height: 24px;
    font-size:11px;
}
.off{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.93px;
    width: 35px;
    height: 24px;
    font-size:11px;
}
.bg-cm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 24px;
    background: #96A1B2;
    padding: 2px;
    gap: 2px;
    border-radius: 8.91px;

}