*{
    margin:0;
    padding: 0;
}
.container{
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 1100px;
    height: 62px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    gap: 500px;
}
.header-menu{
    display: flex;
    gap: 48px;
}
.header-menu-item{
    text-decoration:none;
    font-size: 16px;
    color: #242E42;
}
.menu{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.content-first{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color:red;
    height:320px;
    gap: 3px;
}
.content-firts-text{
    width:450px;
    display: flex;
    flex-direction: column;
}
.contet-first-card{
    width: 398px;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gender-card{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.gernder{
    width: 308px;
}
.gender-sex{
    width:145.5px;
    height: 52px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 12px;
    align-items: center;
}
.icon{
    width:40px;
}
.card-input-age{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-input-age input{

    width:300px;
    height: 48px;
    border: 1px solid #E6EBF0;
    border-radius: 12px;
    background: #FFFFFF;
}